@import "./partial/bootstrap-overrides";

body {
  font-family: "Circular", sans-serif;
  header {
    height: 64px;
    padding-top: 0.5rem;
    nav {
      a {
        text-decoration: none;
        color: inherit;
        font-weight: 700;
        padding-inline: 8px;
        span.user {
          background-color: #19e58b;
          padding: 8px 10px;
          border-radius: 50%;
          box-shadow: 0 0 0 7px #1f1f1f;
          color: #000000;
        }
      }

      form {
        input{
         background-color: transparent;
         &:focus{
          border-color:transparent;
         }
        }
        
      }
    }
  }
  main {
    height: calc(100vh - 136px);
  }
  section {
    height: 72px;
  }
}

.svgicon {
  display: block;
  width: 24px;
  height: 24px;
  fill: currentColor;
}
