@import "./partial/bootstrap-overrides";

body {
  font-family: "Circular", sans-serif;
  header {
    height: 64px;
    padding-top: 0.5rem;
    nav {
      a {
        text-decoration: none;
        color: inherit;
        font-weight: 700;
        padding-inline: 8px;
        span.home {
          box-shadow: 0 0 0 10px #1f1f1f;
          border-radius: 50%;
          display: inline-block;
          margin-right: 10px;
          margin-top: 5px;
        }
        span.user {
          background-color: #19e58b;
          padding: 8px 10px;
          box-shadow: 0 0 0 7px #1f1f1f;
          border-radius: 50%;
          color: #000000;
          margin-top: 5px;
        }
      }

      form {
        input {
          background-color: transparent;
          width: 300px;
          border: 0;
          border-right: 1px solid #b3b3b3 !important;
          &:focus {
            outline: none !important;
          }
        }
      }
    }
  }
  main {
    height: calc(100vh - 136px);
  }
  section {
    height: 72px;
  }
}

.svgicon {
  display: block;
  width: 24px;
  height: 24px;
  fill: currentColor;
}
