@import "./partial/bootstrap-overrides";

body {
  ::-webkit-scrollbar {
    width: 10px; /* Larghezza della scrollbar */
  }
  ::-webkit-scrollbar-track {
    background: transparent;
    //border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
  }

  font-family: "Circular", sans-serif;
  header {
    height: 64px;
    padding-top: 0.5rem;
    nav {
      a {
        text-decoration: none;
        color: inherit;
        font-weight: 700;
        padding-inline: 8px;
        span.home {
          box-shadow: 0 0 0 10px #1f1f1f;
          border-radius: 50%;
          display: inline-block;
          margin-right: 10px;
          margin-top: 5px;
        }
        span.user {
          background-color: #19e58b;
          padding: 8px 10px;
          box-shadow: 0 0 0 7px #1f1f1f;
          border-radius: 50%;
          color: #000000;
          margin-top: 5px;
        }
      }

      form {
        input {
          background-color: transparent;
          width: 300px;
          border: 0;
          border-right: 1px solid #b3b3b3 !important;
          &:focus {
            outline: none !important;
          }
        }
      }
    }
  }
  main {
    height: calc(100vh - 152px);
    .myspinner {
      position: fixed;
      left: 47.5%;
      top: 25%;
    }

    .divgenre {
      width: 185px;
      flex-grow: 1;
      border-radius: 5px;
      background-color: #d1d1d13b;
      overflow: hidden;
    }

    .divgenre p {
      font-weight: 600;
    }

    .imggenre {
      width: 50px;
    }

    .rowdaily {
      //flex-wrap: nowrap;
      overflow-x: auto;
      white-space: nowrap;
      scroll-behavior: smooth;
      padding-left: 6px;
    }

    .rowdaily::-webkit-scrollbar {
      display: none;
    }

    .coldaily {
      width: 216px !important;
    }
    .widthcard {
      height: 285px;
      transition: 0.1s linear;
    }
    .space-normal {
      white-space: normal;
    }

    .dailyinfo {
      height: 8px;
    }
    .imgdaily {
      max-width: 200px;
    }

    .dailyicon {
      position: relative;
      top: 5px;
      left: -85px;
      height: 0;
    }
    .dailymix {
      position: relative;
      top: 175px;
      left: 12px;
      color: #000000;
      font-weight: 600;
      padding-inline: 2px;
      font-size: 1.2rem;
    }
    .dailymix.dx {
      left: 68px;
    }
    .dailymix01 {
      background: aqua;
    }
    .dailyicon01 {
      color: aqua;
    }
    .dailymix02 {
      background: yellow;
    }
    .dailyicon02 {
      color: yellow;
    }
    .dailymix03 {
      background: #fa4835;
    }
    .dailyicon03 {
      color: #fa4835;
    }
    .dailymix04 {
      background: #f69cd5;
    }
    .dailyicon04 {
      color: #f69cd5;
    }
    .dailymix05 {
      background: #cef672;
    }
    .dailyicon05 {
      color: #cef672;
    }
    .dailymix06 {
      background: #afb2fd;
    }
    .dailyicon06 {
      color: #afb2fd;
    }
    h2 {
      font-weight: 600;
      &:hover {
        text-decoration: underline;
        color: #ffffff;
        cursor: pointer;
      }
    }
    .card-better {
      margin-top: -30px;
    }
  }
  section {
    height: 88px;
  }
}

.svgicon {
  display: block;
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.svgplayer {
  width: 1rem;
  cursor: pointer;
}

.svgplayerpath {
  fill: white;
}
// player

.player {
  width: 35rem;
  height: 70rem;
  background: linear-gradient(to right, #313234, #2f3031);
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.4);
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.player-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-btn {
  width: 1.5rem;
  height: 1.5rem;
  background: transparent;
  border: none;
  border-radius: 50%;
  color: #a8a9ab;
  cursor: pointer;
}

.player-btn:active {
  transform: translateY(0.2rem);
}

.player-top span {
  font-size: 1.3rem;
  color: #a8a9ab;
}

.player-body {
  width: 100%;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.current-song {
  width: 18rem;
  height: 18rem;
  border: 0.5rem solid rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  box-shadow: 0.6rem 0.6rem 4rem -0.1rem rgba(0, 0, 0, 0.9), -0.6rem -0.6rem 4rem -0.2rem rgba(255, 255, 255, 0.4);
  position: relative;
  transform: rotateZ(-15deg);
}

.cover {
  width: 100%;
  height: 100%;
  background-color: #101112;
  border-radius: 50%;
}

.rotate {
  animation: coverRotate 10s linear infinite;
}

@keyframes coverRotate {
  0% {
    transform: rotateZ(0);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

.cover span {
  font-family: "Delicious Handrawn", cursive;
  position: absolute;
  display: block;
}

.cover span:nth-child(1) {
  color: #ddd;
  font-size: 1.6rem;
  top: 20%;
  left: 30%;
}

.cover span:nth-child(2) {
  color: #fff;
  font-size: 2.5rem;
  top: 35%;
  left: 20%;
  width: 10rem;
  text-align: center;
}

.song-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.song-details {
  display: flex;
  flex-direction: column;
}

.song-name {
  font-size: 2rem;
  font-weight: 300;
  color: #fff;
}

.song-artist {
  font-size: 1.2rem;
  color: #a8a9ab;
}

.song-info i {
  font-size: 2rem;
  background: linear-gradient(to right, #3baa7b, #62bc68);
  // -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.song-time {
  width: 100%;
  height: 0.2rem;
  background-color: #b3b3b3;
  border-radius: 0.5rem;
  margin-inline: 1rem;
  cursor: pointer;
  position: relative;
}

.song-progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: linear-gradient(to right, #3baa7b, #62bc68);
  border-radius: 0.5rem;
}

.time {
  width: 100%;
  // display: flex;
  // justify-content: space-between;
  margin-bottom: 3rem;
}

.time span {
  font-size: 1.2rem;
  color: #a8a9ab;
}

.controls {
  width: 250px;
  // width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.play-pause {
  width: 2rem;
  height: 2rem;
  background: white;
  color: #fff;
}

.play-pause-green {
  width: 48px;
  height: 32px;
  background: #37e189;
  transform: translateY(10px);
  transition: 0.1s linear;
  opacity: 0;
  visibility: hidden;
}

.play-pause-green.show {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.play-pause-daily {
  width: 42px;
  height: 42px;
  background: #37e189;
  transform: translateY(10px);
  transition: 0.1s linear;
  position: relative;
  top: 175px;
  right: 15px;
  opacity: 0;
  visibility: hidden;
}

.play-pause-daily.show {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.play-pause-card {
  width: 42px;
  height: 42px;
  background: #37e189;
  transform: translateY(10px);
  transition: 0.1s linear;
  position: relative;
  opacity: 0;
  visibility: hidden;
  top: 190px;
  left: 70px;
}

.play-pause-card-reco {
  width: 42px;
  height: 62px;
  background: #37e189;
  transform: translateY(10px);
  transition: 0.1s linear;
  position: relative;
  opacity: 0;
  visibility: hidden;
  top: 190px;
  left: 70px;
}

.play-pause-card-reco.show {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.play-pause-card.show {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.play-green {
  background: green;
}

.player-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.player-footer i {
  font-size: 1.8rem;
  color: #a8a9ab;
}

.player-footer span {
  font-size: 1.2rem;
  color: #a8a9ab;
}

#artista {
  background-image: url(https://fastly.picsum.photos/id/355/1250/450.jpg?hmac=lhHdwVcng-ScFe2IDDFSizk6WNT_sHFTCcGVOE_dyic);

  h1 {
    font-size: 6rem;
  }
}

.btn-segui {
  background-color: transparent;
  border-radius: 20px;
  width: 75px;
  height: 30px;
  border: 1px solid gray;
  transition: transform 0s ease;
}

.btn-segui:hover {
  border-color: white;
  transform: scale(1.1);
}

.carousel {
  display: flex;
}

.slick-prev {
  left: 20px !important;
  top: 100px !important;
  z-index: 100;
}

.slick-next {
  right: 40px !important;
  top: 100px !important;
  z-index: 100;
}

.slick-prev::before,
.slick-next::before {
  font-size: 30px !important;
  color: #1f1f1f !important;
}

.slick-prev:hover::before,
.slick-next:hover::before {
  font-size: 30px !important;
  color: red !important;
}

.slick-track {
  width: 5000px !important;
}

.grow1 {
  flex-grow: 1;
}

.minleftbar {
  width: 90px;
}

// PAGINA ALBUM

.dateOfRelease::before,
.dateOfRelease::after {
  content: "•";
  margin-inline: 5px;
}

.albumBtnPlay-pause {
  width: 48px;
  height: 48px;
  background-color: #19e58b;
  border-radius: 50px;
}

.albumSvgPlay-pause {
  width: 24px;
  height: 24px;
  fill: black;
}

.albumBtnPlay-a {
  text-decoration: none;
  color: #ddd;
}

#artist-songs {
  font-size: 0.75rem;
}

#hourspan {
  font-size: 0.75rem;
}

#arrow {
  cursor: pointer;
}

// artista card

.cardAlbum {
  padding: 10px;
  transition: 0.2s linear;
  border: none;
  img {
    border-radius: 8px;
  }
}
.card-body {
  padding: 8px 5px 5px;
}

// artista popolari

.row {
  padding: 3px;
  border-radius: 8px;
}

.albTextAccent {
  color: #ffffff;
}

.albText {
  color: #b3b3b3;
}

.hov:hover {
  text-decoration: underline !important;
  color: #ffffff;
}

.songActive {
  background-color: #2f3235 !important;
}

.songMouseOver {
  background-color: #2e2e2e;
}
